@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");

/* Global classes */
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template */
.color-primary {
   color: #7190ee; /* Black */
}

.color-primary-bg {
  background: #000; /* Black */
}

.color-second {
  color: #ee7171; /* White */
}

.color-second-bg {
  background: #000000; /* White */
}

.color-yellow {
  color: #000; /* Black */
}

.color-yellow-bg {
  background: #e2b40c; /* Black */
}
.color-blue-bg{
  background: blue;
}
.color-white-bg{
  background: white;
}

/* Top sale template */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}

#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}

#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}

#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #fff; /* White text color */
  padding: 0 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Black text shadow */
  box-shadow: 0 0 20px rgba(139, 140, 140, 0.8);
  margin-right: 1.2rem;
  margin-top: 1rem;
}


#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/* Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
  background: #000; /* Black background */
  color: #fff; /* White text color */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(167, 166, 166); /* Strong shadow */
  transition: background-color 10s, box-shadow 0.3s;
  border: none;
}

#special-price .grid .grid-item:hover {
  background-color: #0b0b0b; /* Darker background on hover */
  box-shadow: 20px 20px 200px rgb(167, 166, 166); /* Stronger shadow on hover */
}

#filters .btn {
  color: #fff; /* White text color */
}


/* Dark theme background */
body {
  background-color: #000; /* Black */
  color: #fff; /* White for general text */
}
